.product{
    margin-top: 30px;
    margin-left: 20px;

    .product-filter {
        display: flex;
        height: 42px;
        align-items: center;

        border-bottom: 2px solid #e8e8e8;
        margin-bottom: 14px;
        .product-filter-sortIcon{
            display: flex;

            svg{
                font-size: 2rem;
            }

            span{
                margin-left: 4px;
                font-size: 1.4rem;
                font-weight: bold;
            }
        }
        .product-filter-price{
            display: flex;
            margin-left: 10px;

            .product-filter-price-radio{
                display: flex;
                align-items: center;
                margin: 0 8px;

                input[type="radio"]{
                    width: 15px;
                    height: 15px;
                    cursor: pointer;
                }

                label{
                    font-size: 1.4rem;
                    font-weight: bold;
                    margin-left: 4px;
                    cursor: pointer;
                }
            }
        }
    }

    .product-body{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
}