.wrapper {
    display: flex;
    flex-direction: column;

    .picture{
        .pictureImg {
            max-width: 100%;
        }
    }
    .category{
        display: flex;
        justify-content: space-between;
        padding: 0 120px;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .banner {
        display: flex;
        justify-content: space-between;
        padding: 0 120px;
        margin-top: 50px;

        .banner-container{
            overflow: hidden;
            border-radius: 20px;
            img{
                cursor: pointer;
                transition: transform ease 0.5s;
    
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    .productHome{
        display: flex;
        flex-direction: column;
    }

    .delivery-express{
        display: flex;
        justify-content: center;
        .delivery-express-banner{
            margin-top: 50px;
            // padding: 0 120px;
            position: relative;
            
            img{
                border-radius: 20px;
                max-width: 1280px;
                object-fit: cover;
            }

            .delivery-express-method{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);

                h2{
                    color: var(--bs-white);
                    font-size: 2.4rem;
                }

                a{
                    color: var(--bs-dark);                    
                    background-color: var(--bs-white);   
                    margin-top: 10px;
                    text-decoration: none;
                    color: var(--bs-dark);
                    width: 148px;
                    height: 35px;
                    font-size: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;

                    &:hover{
                        background-color: var(--bs-yellow);
                        color: var(--bs-white);
                    }
                }
            }
        }
    }
}