.wrapper {
    display: flex;
    flex-direction: column;

    .picture{
        .pictureImg {
            max-width: 100%;
        }
    }
    .category{
        display: flex;
        justify-content: space-between;
        padding: 0 120px;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .banner {
        display: flex;
        justify-content: space-between;
        padding: 0 120px;
        margin-top: 50px;

        .banner-container{
            overflow: hidden;
            border-radius: 20px;
            img{
                cursor: pointer;
                transition: transform ease 0.5s;
    
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    .productHome{
        display: flex;
        flex-direction: column;
    }
}