.wrapper {
    display: flex;
    flex-direction: column;

    .picture{
        .pictureImg {
            max-width: 100%;
        }
    }
    .category{
        display: flex;
        justify-content: space-between;
        padding: 0 120px;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}