.dealContainer{
    margin-top: 80px;
    border: 2px solid #de2828;
    margin: 0 120px;
    border-radius: 20px;
    position: relative;
    padding-bottom: 20px;

    .deal-title{
        text-decoration: none;
        color: #3e4a5e;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bs-white);
        box-shadow: 0px 0px 17px 8px rgb(0 0 0 / 5%);
        padding: 20px 48px;
        position: absolute;
        left: 34%;
        top: -50px;
        border-radius: 50px;

        &:hover {
            color: var(--bs-yellow);
        }

        .deal-title-icon{
            font-size: 2.6rem;
            color: #FF6200;
            margin-right: 20px;
        }
        h2{
            font-size: 3.4rem;
        }
    }

    .deal-list{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 60px;
        padding: 0 30px;
        position: relative;

        .deal-list-item{
            position: relative;
            overflow: hidden;

            &:hover {
                cursor: pointer;
            }

            &:hover .deal-product .deal-product-icon{
                transform: translateY(-42px);
            }

            &:hover .deal-product img{
                transform: scale(1.1);
            }

            &:nth-child(1)::after{
                content: "";
                display: block;
                width: 1px;
                height: 290px;
                top: 0;
                right: 0;
                background-color: #e6e6e6;
                position: absolute;
            }
            &:nth-child(2)::after{
                content: "";
                display: block;
                width: 1px;
                height: 290px;
                top: 0;
                right: 0;
                background-color: #e6e6e6;
                position: absolute;

            }
            &:nth-child(3)::after{
                content: "";
                display: block;
                width: 1px;
                height: 290px;
                top: 0;
                right: 0;
                background-color: #e6e6e6;
                position: absolute;

            }
            &:nth-child(4)::after{
                content: "";
                display: block;
                width: 1px;
                height: 290px;
                top: 0;
                right: 0;
                background-color: #e6e6e6;
                position: absolute;

            }

            .deal-discount{
                font-size: 1.4rem;
                position: absolute;
                background-color: #F14E18;;
                color: var(--bs-white);
                padding: 0 8px;
                border-radius: 10px 0;
                z-index: 10;
            }

            .deal-product{
                overflow: hidden;
                position: relative;
                img{
                    max-width: 230px;
                    min-height: 230px;
                    object-fit: cover;
                    transition: transform linear 0.3s;
                }
                .deal-product-icon{
                    text-align: center;
                    font-size: 2rem;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -42px;
                    transition: transform linear 0.2s;


                    .deal-product-icon-heart{
                        color: var(--bs-white);
                        background-color: #eb3e32;
                        padding: 8px 8px;
                        border-radius: 50%;
                        margin-right: 10px;

                        &:hover{
                            background-color: var(--bs-yellow);
                        }
                    }

                    .deal-product-icon-detail{
                        color: var(--bs-white);
                        background-color: #3ba66b;
                        padding: 8px 8px;
                        border-radius: 50%;

                        &:hover{
                            background-color: var(--bs-yellow);
                        }
                    }
                }
            }

            .deal-name{
                font-size: 1.6rem;
                display: block;
                text-align: center;
                margin: 0 0 6px 0;

                &:hover{
                    color: var(--bs-yellow);
                }
            }
            .deal-price{
                text-align: center;
                
                span:nth-child(1){
                    font-size: 1.6rem;
                    color: #eb3e32;
                    font-weight: 700;
                    margin-right: 8px;
                }

                span:nth-child(2){
                    text-decoration: line-through;
                    font-size: 1.4rem;
                    color: #999999;
                }
            }
        }
    }
}